<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Textlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Textlow.Properties.Settings>
            <setting name="ToolbarPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainTextboxFont" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="MainTextboxForecolor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="MainTextboxBackcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="KeepWindowsPosAndSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OutputWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>816, 500</value>
            </setting>
            <setting name="OutputWindowSize" serializeAs="String">
                <value>551, 500</value>
            </setting>
            <setting name="RememberOutputShownHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputMostTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOutputInTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtensionsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AskToSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintFont" serializeAs="String">
                <value>Arial, 20.25pt</value>
            </setting>
            <setting name="SamePrintFontAsMW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPrintPaperSize" serializeAs="String">
                <value>1240, 1754</value>
            </setting>
            <setting name="PrintTextMargins" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </Textlow.Properties.Settings>
    </userSettings>
</configuration>